

.action-btn{
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50% !important;
  background-color: green;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(212, 212, 212);
}

.more-menue{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  bottom: -10px;
  right: -10px;
}

.menue{
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.book-card{
  position: relative;
  box-shadow: -4px 4px 4px rgb(201, 201, 201);
}
.book-title{
  font-size: 20px;
  font-weight: 600;
}



.search-btn{
  padding: 0px 15px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid white;
  position: fixed;
  right: 10px;
  bottom: 50px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}

.empty-list{
  font-size: 22px;
  text-align: center;
  padding: 20px 0px;
  color: rgb(241, 184, 183);
  background-color: rgb(255, 210, 210);
  border-radius: 20px;
}