:root{
    --bg-color: rgb(17, 17, 33);
    --card-color: rgb(23, 23, 70);
    --secondary-color: rgb(172, 172, 172);
    --text-color: white;
}

body{
    color: var(--text-color);
    /* background-color: var(--bg-color); */
}

.light-text{
    color: black;
}
.dark-text{
    color: white;
}

.dark-bg{
    background-color: var(--bg-color);
}

.light-bg{
    background-color: white;
}

.dark-card{
    background-color: var(--card-color);
}

.light-card{
    background-color: rgb(240, 240, 240);
}

.green-text{
    color: green;
}

.text-color{
    color: gray;
}

.negative{
    color: red;
}

